body {

}

/* Navigation */

.nav-container {
  color: #fff;
  border-bottom: 4px solid #ccc;
}

.navbar-header {
  background: #4aaaa5;
  /*padding: 0px auto;*/
  margin-left: 2%;
}

/*.navbar-brand  {
  padding: -20px
}*/

.navbar-nav {
  float: right;
}

/* Content */

.main-container {
  
}

#main-content {
}

#photo {
  max-width: 40%;
  padding-right: 2%;
  float: left;
}

.sidebar {

}

#social {

}

/* Footer */

footer {

}