body {

}

/* Navigation */

.nav-container {
  color: #fff;
  border-bottom: 4px solid #ccc;
}

.navbar-header {
  background: #4aaaa5;
  /*padding: 0px auto;*/
  margin-left: 50px;
}

/*.navbar-brand  {

}*/

.navbar-nav {
  float: right;
}

/* Content */

.main-container {
  
}

#main-content {

}

.sidebar {

}

#social {

}

/* Footer */

footer {

}