body {

}

.navbar {
  color: #fff;
  border-bottom: 4px solid #ccc;
}

.navbar-header {
  color: #4aaaa5;
  /*margin-left: 50px;*/
}

.navbar-nav {
  float: right;
}

.main-container {
  
}

#main-content {

}

.sidebar {

}

#social {

}

footer {

}